{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container w-50">
    <div class="d-flex align-items-center">
      <h1 class="text-center flex-grow-1">{{ post.title }}</h1>
      <p class="fs-6 text-end m-0 me-3">{{ post.user }}</p>
    </div>
    <hr class="mt-0 mb-3">


    <div class="d-flex justify-content-around">
      <div class="d-flex flex-column align-items-center col-4">
        {% if post.image_1 %}
          <img src="{{ post.image_1.url }}" alt="img" width='100%'>
        {% else %}
          <img src="{% static 'no-image.png' %}" alt="no-img" width='100%'>
        {% endif %}  
        <div class="my-3" style="word-wrap: break-word;">
          <form action="{% url 'posts:answer' post.pk post.select1_content %}" method="POST">
            {% csrf_token %}
              <input type="submit" value="{{ post.select1_content }} - {{ post.select1_users.count }}">
          </form>
        </div>
      </div>

      <div class='d-flex align-items-center mb-5'>
        <h1>vs</h1>
      </div>


      <div class="d-flex flex-column align-items-center col-4">
        {% if post.image_2 %}
          <img src="{{ post.image_2.url }}" alt="img" width='100%'>
        {% else %}
            <img src="{% static 'no-image.png' %}" alt="no-img" width='100%'>
        {% endif %}
        <div class="my-3" style="word-wrap: break-word;">
          <form action="{% url 'posts:answer' post.pk post.select2_content %}" method="POST">
            {% csrf_token %}
              <input type="submit" value="{{ post.select2_content }} - {{ post.select2_users.count }}">
          </form>
        </div>  
      </div>
    <form action="{% url 'articles:comment_create' article.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
      <input type="submit" value="댓글 작성">
    </form>
    {% for comment in comments %}
    <div>
      <p>댓글 작성자 -
        {{comment.user}}</p>
      <p>댓글 번호 -
        {{ comment.pk }}</p>
      <p>
        댓글 내용 -
        {{comment.content}}
      </p>
      <form action="{% url 'articles:comment_likes' article.pk comment.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in comment.like_users.all %}
          <input type="submit" value="좋아요 취소">
        {% else %}
          <input type="submit" value="좋아요">
        {% endif %}
      </form>
      {% if comment.user == user %}
        <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="댓글 삭제">
        </form>
      {% endif %}
    </div>
    <hr>
  {% endfor %}
    </div>      

    

   



    <hr class="mt-0 mb-3">
    <div class="d-flex justify-content-between">
      <a href="{% url 'posts:index' %}" class="btn btn-outline-success">뒤로가기</a>
      <div class="d-flex justify-content-between">
      </div>
    </div>
  </div>
{% endblock content %}